<h2>Lista de categorias:</h2>
<hr>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/admin/categorias/add"><button class="btn btn-outline-secondary m-4">Nova categoria</button></a>
</div>


{{#each categorias}}
  <div class="card m-2">
    <div class="card-body">
      <h4>{{nome}}</h4>
      <small>{{slug}}</small><br>
      <small>Data de criação: {{date}}</small>
      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-outline-primary mt-4 ">Editar categoria</button></a>
      </div> 
    </div>
  </div>
  {{else}}
{{/each}}