{{#each postagens}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<div class="card">
  <div class="card-body">
    <h4>Editar postagem:</h4>
    <form action="/admin/postagem/edit" method="POST">
      <input type="hidden" value="{{postagem._id}}" name="id">
      <label for="titulo">Titulo:</label>
      <input type="text" name="titulo" class="form-control" required value="{{postagem.titulo}}">
      <label for="slug">Slug:</label>
      <input type="text" name="slug" class="form-control" required value="{{postagem.slug}}">
      <label for="descricao">Descrição:</label>
      <input type="text" name="descricao" class="form-control" required value="{{postagem.descricao}}">
      <label for="conteudo">Conteúdo:</label>
      <textarea name="conteudo" class="form-control" placeholder="Escreva um conteúdo aqui...." required>{{postagem.conteudo}}</textarea>
      <label for="categoria">Categoria:</label>
      <select name="categoria" class="form-select form-select-sm">
        {{#each categorias}}
          <option value="{{_id}}">{{nome}}</option>
        {{else}}
          <option value="0">Nenhuma postagem registrada</option>
        {{/each}}
      </select>
      <br>
      <button class="btn btn-outline-dark mt-2" type="submit">Editar postagem</button>
    </form>
  </div>
</div>