<h2>Lista de postagens:</h2>
<hr>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/admin/postagens/add"><button class="btn btn-outline-secondary m-4">Nova postagem</button></a>
</div>

{{#each postagens}}
  <div class="card">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <p>{{descricao}}</p>
      <small>{{data}}</small>
      <small>{{categoria}}</small>
    </div>
  </div>
{{else}}

{{/each}}