<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do NodeJS</h1>
  <p class="lead">Nesse blog você poderá encontrar tudo sobre NodeJS.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-outline-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>
<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body mt-2">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-outline-dark">Leia mais</button></a>
      <hr>
      <small><b>Categoria:</b> {{categoria.nome}}</small>
      <br>
      <small><b>Data de publicação:</b> {{data}}</small>      
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem!</h5>
{{/each}}