<div class="jumbotron">
  <img src="https://cdn-icons-png.flaticon.com/512/919/919825.png" width="80px" alt="nodejs">
  <h1 class="display-4">Bem vindo ao blog do NodeJS</h1>
  <h3 class="lead">Fique a vontade para aprender dicas do mundo da programação!</h3>
</div>
<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
  <div class="card mt-4">
    <div class="card-body mt-2">
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href="/postagem/{{slug}}"><button class="btn btn-outline-dark">Leia mais</button></a>
      <hr>
      <small><b>Categoria:</b> {{categoria.nome}}</small>
      <br>
      <small><b>Data de publicação:</b> {{data}}</small>      
    </div>
  </div>
{{else}}
  <h5>Nenhuma postagem!</h5>
{{/each}}